name: Spotless
on: [ push ]
jobs:
  Formatting:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 11
          cache: gradle

      - name: Spotless
        run: |
          echo "Run './gradlew spotlessApply' to auto-format"
          ./gradlew spotlessCheck
